.window{
    background-color: rgb(240, 237, 232);
}
.center-spinner {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
  }
  
  